{% extends 'base.html' %}

{% block htmlhead %}
{% module static_url('scripts/message.js') %}
{% end %}

{% block body %}
<div>
    <div class="topbar">Welcome, {{ username }}</div>
    <form role="form" id='message-form' class="form">
        {% module xsrf_form_html() %}
        <h2 class="form-heading">Guess Number</h2>
        <input id="number" type="number" required name="number" class="form-control" placeholder="Guess" />
        <br />
        <button class="btn btn-lg btn-danger btn-block">Guess!</button>
    </form>
</div>
<div class="message-box"></div>
{% end %}
